/* css styles */

.quarto-title-block .quarto-title-banner {
  background-image: url(images/RC_logo.jpg);
  background-size: 150px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
  text-align: right;
}

.button {
    border-radius: 2px;
}

.button a {
    padding: 8px 12px;
    border: 1px solid #93c54b;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;  
}